@model Cf.ViewModels.GrantDeductionVwViewModel
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
				<div class="card-block card-dashboard">
                    <button class="btn btn-success" type="button">
                        @Html.ActionLink((string)ViewBag.Insert + " " + (string)ViewBag.ModuleName, "Create")
                    </button>
                </div>
                <div class="table-responsive">
                    <table id="Result" class="table table-bordered mb-0">
                        <thead class="thead-inverse">
					        <tr>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantProductId)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantProductEmployeeId)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantProductEmployeeFullName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantProductEmployeeDepartmentSalaryWorkPlaceMainWorkPlaceName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantProductEmployeeCategoryName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantProductProductTypeName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantGrantDecisionNumber)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.GrantGrantDecisionDate)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.Instance.Amount)
					            </th>
           
					            <th></th>
					        </tr>
                        </thead>
                        <tbody>
        @foreach (var item in Model.List)
        {
				            <tr>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantProductId)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantProductEmployeeId)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantProductEmployeeFullName)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantProductEmployeeDepartmentSalaryWorkPlaceMainWorkPlaceName)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantProductEmployeeCategoryName)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantProductProductTypeName)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantGrantDecisionNumber)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.GrantGrantDecisionDate)
                				</td>
                				<td>
                    				@Html.DisplayFor(modelItem => item.Amount)
                				</td>
				                <td>
									<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-info">
					                    	@Html.ActionLink((string)ViewBag.Details, "Details",
                        					new
											{
												grant = item.GrantProductId
                        					})
                                        </button>
                                        <button type="button" class="btn btn-warning">
											@Html.ActionLink((string)ViewBag.Update, "Edit",
						                    new
						                    {
													grant = item.GrantProductId
											})

                                        </button>
                                        <button type="button" class="btn btn-danger deleteLink" data-original-title="@ViewBag.Delete" id="delete" data-id="@item.GrantProductId">@ViewBag.Delete</button>
                                    </div>
                                </td>
                            </tr>
				        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@ViewBag.No</span></button>
                <h4 class="modal-title" id="deleteModalLabel">@ViewBag.Delete @ViewBag.ModuleName</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
           
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            $(".IsDate").datepicker({
                // format: 'MM/DD/YYYY',
                calendarWeeks: true,
                showTodayButton: true
            });
        })
    </script>

	<script>
	$(document).ready(function () {
	        var len = $('#Result tr').length;
	        var res = $("#Result");
	        if (len == 1) {
	        }
	        else {
	            var value = $("#cardOptions").attr("class").replace("in", "out");
	            $("#cardOptions").attr("class", value);
	        }
	    });
	    $(function () {
	        $("#deleteModal").modal("hide");  // initially hides the modal pop-up until needed

	        $(".deleteLink").on("click", function () {
	            $.get('@Url.Action("Delete")', { id: $(this).data("id") }, function (data) {
	                $("#deleteModalBody").html(data);

	                $("#deleteModal").modal("show");  // shows the modal pop-up now that we have our partial view
	            });

	        });
	    });
	</script>
}
