@*@model Cf.Data.RefundableProduct*@
@model Cf.ViewModels.LoanRequestViewModel
 
<div class="form-body">
    <div class="row">
         
        <div class="col-md-4">
            <div class="form-group">
               
                @Html.LabelFor(model => model.RequestProductProductRefundableProduct.PaymentPeriod, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.RequestProductProductRefundableProduct.PaymentPeriod)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                @Html.EditorFor(model => model.RequestProductProductRefundableProduct.PaymentPeriod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestProductProductRefundableProduct.PaymentPeriod, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                
                @Html.LabelFor(model => model.RequestProductProductRefundableProduct.Installment, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.RequestProductProductRefundableProduct.Installment)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                @Html.EditorFor(model => model.RequestProductProductRefundableProduct.Installment, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.RequestProductProductRefundableProduct.Installment, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
               
                @Html.LabelFor(model => model.RequestProductProductRefundableProduct.NetAmount, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.RequestProductProductRefundableProduct.NetAmount)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                @Html.EditorFor(model => model.RequestProductProductRefundableProduct.NetAmount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.RequestProductProductRefundableProduct.NetAmount, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
      
        <div class="col-md-4">
            <div class="form-group">
               
                @Html.LabelFor(model => model.RequestProductProductRefundableProduct.ProfitAmount, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.RequestProductProductRefundableProduct.ProfitAmount)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                @Html.EditorFor(model => model.RequestProductProductRefundableProduct.ProfitAmount, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.RequestProductProductRefundableProduct.ProfitAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="col-md-4">
            <div class="form-group">
                
                @Html.LabelFor(model => model.RequestProductProductRefundableProduct.SyrianPoundRounds, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.RequestProductProductRefundableProduct.SyrianPoundRounds)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                @Html.EditorFor(model => model.RequestProductProductRefundableProduct.SyrianPoundRounds, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestProductProductRefundableProduct.SyrianPoundRounds, "", new { @class = "text-danger" })
            </div>
        </div>*@
    </div>
</div>

@*@section Scripts {
    <script>
		$(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".IsDate").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>
}*@
