
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">

                <h4 class="card-title">
                    @ViewBag.Reports
                </h4>

                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in ">
                <div class="card-block card-dashboard">


                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="light-green">@ViewBag.EmployeeLoans</h3>
                                                @Html.ActionLink((string)ViewBag.EmployeeLoans, "EmployeeLoans")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-user1 light-green font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="blue">@ViewBag.SubscriptionReport</h3>
                                                @Html.ActionLink((string)ViewBag.SubscriptionReport, "SubscriptionsBetweenDates")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-ios-list blue font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="teal">@ViewBag.PaymentReport</h3>
                                                @Html.ActionLink((string)ViewBag.PaymentReport, "PaymentsBetweenTwoDates")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-diagram2 teal font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="green">@ViewBag.RequestStatistics</h3>
                                                @Html.ActionLink((string)ViewBag.RequestStatistics, "RequestStatistics")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-diagram green font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    @*<div class="row">
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="cyan">@ViewBag.ExceptionalLoanRequestsCount</h3>
                                                @Html.ActionLink((string)ViewBag.ExceptionalLoanRequests, "ManageExceptionalRequest")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-ios-help-outline cyan font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                </div>

            </div>
        </div>
    </div>
</div>



@section Scripts {
  
    
}
