@model IEnumerable<Cf.Data.RequestStatisticsResult>
@using Cf.Data


<div class="table-responsive">
    <table id="Result" class="table table-bordered mb-0">
        <thead class="bg-primary table-head-color">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RequestStatusName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestSum)
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestStatusName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestSum)
                    </td>                    
                </tr>
            }
        </tbody>
    </table>
</div>