@model Cf.Data.HealthLoanDecisionFirstPayment
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Action @ViewBag.ModuleName</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form class="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-body">
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Employee, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Employee, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Employee)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.DropDownList("Employee", (SelectList)@ViewBag.EmployeeList, htmlAttributes: new { @class = "form-control" })
								                @Html.ValidationMessageFor(model => model.Employee, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.PaymentDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.PaymentDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.TextBoxFor(model => model.PaymentDate, htmlAttributes: new { @class = "form-control IsDate" })
								                @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.PaymentAmount, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.PaymentAmount, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.PaymentAmount)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.PaymentAmount, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.PaymentAmount, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.PaymentNotes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.PaymentNotes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.PaymentNotes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.PaymentNotes, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.PaymentNotes, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InvoiceDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InvoiceDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.TextBoxFor(model => model.InvoiceDate, htmlAttributes: new { @class = "form-control IsDate" })
								                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InvoiceAmount, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InvoiceAmount, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InvoiceAmount)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.InvoiceAmount, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.InvoiceAmount, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InvoiceNotes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InvoiceNotes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InvoiceNotes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.InvoiceNotes, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.InvoiceNotes, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InsuranceDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InsuranceDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InsuranceDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.TextBoxFor(model => model.InsuranceDate, htmlAttributes: new { @class = "form-control IsDate" })
								                @Html.ValidationMessageFor(model => model.InsuranceDate, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InsuranceAmount, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InsuranceAmount, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InsuranceAmount)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.InsuranceAmount, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.InsuranceAmount, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InsuranceType, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InsuranceType, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InsuranceType)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.DropDownList("InsuranceType", (SelectList)@ViewBag.InsuranceTypeList, htmlAttributes: new { @class = "form-control" })
								                @Html.ValidationMessageFor(model => model.InsuranceType, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.InsuranceNotes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.InsuranceNotes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.InsuranceNotes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.InsuranceNotes, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.InsuranceNotes, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.BoardDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.BoardDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.BoardDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.TextBoxFor(model => model.BoardDate, htmlAttributes: new { @class = "form-control IsDate" })
								                @Html.ValidationMessageFor(model => model.BoardDate, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.BoardAmount, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.BoardAmount, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.BoardAmount)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.BoardAmount, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.BoardAmount, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.BoardType, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.BoardType, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.BoardType)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.BoardType, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.BoardType, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.BoardNotes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.BoardNotes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.BoardNotes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.BoardNotes, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.BoardNotes, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.DirectPaymentDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.DirectPaymentDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.DirectPaymentDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.TextBoxFor(model => model.DirectPaymentDate, htmlAttributes: new { @class = "form-control IsDate" })
								                @Html.ValidationMessageFor(model => model.DirectPaymentDate, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.DirectPaymentAmount, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.DirectPaymentAmount, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.DirectPaymentAmount)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.DirectPaymentAmount, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.DirectPaymentAmount, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.DirectPaymentNotes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.DirectPaymentNotes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.DirectPaymentNotes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.DirectPaymentNotes, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.DirectPaymentNotes, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.PaymentStatus, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.PaymentStatus, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.PaymentStatus)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.PaymentStatus, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.PaymentStatus, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Notes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Notes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Department, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Department)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.HealthLoanDecision, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.HealthLoanDecision, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.HealthLoanDecision)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.DropDownList("HealthLoanDecision", (SelectList)@ViewBag.HealthLoanDecisionList, htmlAttributes: new { @class = "form-control" })
								                @Html.ValidationMessageFor(model => model.HealthLoanDecision, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.RequestCost, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.RequestCost, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.RequestCost)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.RequestCost, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.RequestCost, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.LoanRequest, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.LoanRequest, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.LoanRequest)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.LoanRequest, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.LoanRequest, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary mr-1">
                                    @ViewBag.Save
                                </button>
                                <button type="button" class="btn btn-warning">
                                    @Html.ActionLink((string)ViewBag.Back, "Index")
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
		$(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".IsDate").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>
}
