@model Cf.ViewModels.EventLogErrorVwViewModel
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.FilterOptions</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i id="filter" class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="cardOptions" class="card-body collapse in">
                    <div class="card-block">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.EventLogEventCategoryId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.EventLogEventCategoryId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.EventLogEventCategoryId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.EventLogEventCategoryId, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.EventLogEventStatusId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.EventLogEventStatusId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.EventLogEventStatusId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.EventLogEventStatusId, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.MinEventLogDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.MinEventLogDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.MinEventLogDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.MinEventLogDate, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.MaxEventLogDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.MaxEventLogDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.MaxEventLogDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.MaxEventLogDate, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.EventLogUser, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.EventLogUser, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.EventLogUser)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.EventLogUser, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.MessageContains, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.MessageContains, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.MessageContains)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.MessageContains, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
								</div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary mr-1">
                                    @ViewBag.Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
