@model Cf.ViewModels.EventLogErrorVwViewModel
	<div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Action @ViewBag.ModuleName</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogId" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogId)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogEventSourceId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogEventSourceId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogEventSourceId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogEventSourceId" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogEventSourceId)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogEventSourceName, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogEventSourceName, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogEventSourceName)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogEventSourceName" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogEventSourceName)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogEventCategoryId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogEventCategoryId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogEventCategoryId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogEventCategoryId" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogEventCategoryId)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogEventCategoryName, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogEventCategoryName, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogEventCategoryName)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogEventCategoryName" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogEventCategoryName)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogEventStatusId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogEventStatusId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogEventStatusId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogEventStatusId" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogEventStatusId)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogEventStatusName, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogEventStatusName, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogEventStatusName)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogEventStatusName" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogEventStatusName)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogParameters, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogParameters, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogParameters)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogParameters" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogParameters)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogDate" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogDate)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.EventLogUser, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.EventLogUser, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.EventLogUser)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtEventLogUser" class="form-control" value="@Html.DisplayFor(model => model.Instance.EventLogUser)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Number, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Number, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Number)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtNumber" class="form-control" value="@Html.DisplayFor(model => model.Instance.Number)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Message, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Message, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Message)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtMessage" class="form-control" value="@Html.DisplayFor(model => model.Instance.Message)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.StackTrace, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.StackTrace, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.StackTrace)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtStackTrace" class="form-control" value="@Html.DisplayFor(model => model.Instance.StackTrace)" disabled />
								        </div>
									</div>
								</div>
							</div>

                            <div class="form-actions">
                                <button type="button" class="btn btn-primary mr-1">
								        @Html.ActionLink((string)@ViewBag.Update, "Edit", new {
																	eventLog = Model.Instance.EventLogId })
                                </button>
								<button type="button" class="btn btn-warning">
							        @Html.ActionLink((string)@ViewBag.Back, "Index")
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@ViewBag.No</span></button>
                <h4 class="modal-title" id="deleteModalLabel">@ViewBag.Delete @ViewBag.ModuleName</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#deleteModal").modal("hide");  // initially hides the modal pop-up until needed

        $(".deleteLink").on("click", function () {
		var url=$(this).data("url");
            $.get(url, { id: $(this).data("id") }, function (data) {
                $("#deleteModalBody").html(data);

                $("#deleteModal").modal("show");  // shows the modal pop-up now that we have our partial view
            });

        });
    });
</script>
	<script>
	$(document).ready(function () {
		$('table').each(function(e){
		
				var table = $(this).context;
                var len = table.rows.length;
                if (len == 1) 
                {             
					table = table.tBodies[0];
                    // Create an empty <tr> element
                    var row = table.insertRow(0);

                    //// Insert new cell
                    var cell1 = row.insertCell(0);
                    cell1.colSpan = 12; cell1.align = "center";
                    cell1.innerText = '@ViewBag.NoRecords';                    
                }
                 
            });
	    });
	</script>
}
