@model Portal.ViewModels.ProductRequestLoanViewModel
 
<div class="form-body">
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Instance.EmployeeId, htmlAttributes: new { @class = "control-label" })*@
                @Html.LabelFor(model => model.ProductVwViewModel.Instance.EmployeeId, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ProductVwViewModel.Instance.EmployeeId)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                <input type="text" id="txtEmployeeId" class="form-control" value="@Html.DisplayFor(model => model.ProductVwViewModel.Instance.EmployeeId)" disabled />
                <input type="hidden" name="Product.Id" id="txtProductId" class="form-control" value="@Html.DisplayFor(model => model.ProductVwViewModel.Instance.Id)" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Instance.EmployeeFullName, htmlAttributes: new { @class = "control-label" })*@
                @Html.LabelFor(model => model.ProductVwViewModel.Instance.EmployeeFullName, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ProductVwViewModel.Instance.EmployeeFullName)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                <input type="text" id="txtEmployeeFullName" class="form-control" value="@Html.DisplayFor(model => model.ProductVwViewModel.Instance.EmployeeFullName)" disabled />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Instance.ProductTypeName, htmlAttributes: new { @class = "control-label" })*@
                @Html.LabelFor(model => model.ProductVwViewModel.Instance.ProductTypeName, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ProductVwViewModel.Instance.ProductTypeName)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                <input type="text" id="txtProductTypeName" class="form-control" value="@Html.DisplayFor(model => model.ProductVwViewModel.Instance.ProductTypeName)" disabled />
            </div>
        </div>
    </div>
     
     
     
    <div class="row">
     
        <div class="col-md-4">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Instance.Amount, htmlAttributes: new { @class = "control-label" })*@
                @Html.LabelFor(model => model.ProductVwViewModel.Instance.Amount, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ProductVwViewModel.Instance.Amount)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                <input type="text" id="txtAmount" class="form-control" value="@Html.DisplayFor(model => model.ProductVwViewModel.Instance.Amount)" disabled />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Instance.Notes, htmlAttributes: new { @class = "control-label" })*@
                @Html.LabelFor(model => model.ProductVwViewModel.Instance.Notes, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ProductVwViewModel.Instance.Notes)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                <input type="text" id="txtNotes" class="form-control" value="@Html.DisplayFor(model => model.ProductVwViewModel.Instance.Notes)" disabled />
            </div>
        </div>
    </div>
</div>
