@model Cf.Data.Debt


@*@using (Ajax.BeginForm("CreateDeb", "DebtsManagement", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "TheDebt" }))*@
@using (Html.BeginForm("CreateDeb", "DebtsManagement", FormMethod.Post, new { id = "CreateDebtForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Insert @ViewBag.Debt</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i id="debtminusBtn" class="icon-plus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="DebtCard" class="card-body collapse">
                    <div class="card-block">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Employee, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.Employee, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.Employee)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.Employee, new { htmlAttributes = new { @class = "form-control", @id = "EmployeeIdDebt" } })
                                        @Html.ValidationMessageFor(model => model.Employee, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.Amount, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.Amount)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @id = "AmountDebt" } })
                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.PeriodInMonths, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.PeriodInMonths, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.PeriodInMonths)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.PeriodInMonths, new { htmlAttributes = new { @class = "form-control", @id = "PeriodsInMonthsDebt" } })
                                        @Html.ValidationMessageFor(model => model.PeriodInMonths, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Installment, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.Installment, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.Installment)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.Installment, new { htmlAttributes = new { @class = "form-control", @id = "InstallmentDebt" } })
                                        @Html.ValidationMessageFor(model => model.Installment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Issuer, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.Issuer, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.Issuer)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.DropDownList("Issuer", (SelectList)@ViewBag.IssuerList, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Issuer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.ReferenceNumber, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.ReferenceNumber, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ReferenceNumber)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ReferenceNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.Date, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.Date)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.TextBoxFor(model => model.Date, htmlAttributes: new { @class = "form-control IsDate" })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.ExceptionalPayment, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.ExceptionalPayment, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.ExceptionalPayment)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.ExceptionalPayment, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ExceptionalPayment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.IsActive, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.IsActive)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.Notes, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.Notes)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @*@Html.LabelFor(model => model.IssueDescription, htmlAttributes: new { @class = "control-label" })*@
                                        @Html.LabelFor(model => model.IssueDescription, new Dictionary<string, Object>
                                                { { "class", "control-label" },
                                                  {"title", Html.ToolTipMessageFor(model => model.IssueDescription)},
                                                  {"data-toggle", "tooltip"},
                                                  {"data-placement", "bottom"}
                                                })
                                        @Html.EditorFor(model => model.IssueDescription, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.IssueDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="form-actions">
                            <button type="button" id="AddDebt" class="btn btn-primary mr-1">
                                @ViewBag.Insert
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

}


@*@using (Ajax.BeginForm("testAction", "DebtsManagement", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp" }))
    @using (Html.BeginForm("testAction", "DebtsManagement", FormMethod.Post, new { id = "CreateDebtForm" }))
        {
@Html.AntiForgeryToken()


        }*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
