@model Cf.ViewModels.WarrantVwViewModel

@if (TempData["Failure"] != null)
{
    <script>
        swal("", "@TempData["Failure"].ToString()", "error");
    </script>
}
else if (TempData["Success"] != null)
{
    <script>
        swal("", "@TempData["Success"].ToString()", "success");
    </script>
}
<table id="Result" class="table table-bordered mb-0">
    <thead class="bg-primary table-head-color">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instance.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.EmployeeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.EmployeeDepartmentSalaryWorkPlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtEmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtEmployeeFullName)
            </th>                
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtIssuerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtPeriodInMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance.DebtInstallment)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeDepartmentSalaryWorkPlaceName)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsActive, new { @disabled = "disabled" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtEmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtEmployeeFullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtIssuerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtPeriodInMonths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtInstallment)
                </td>
            </tr>
        }
    </tbody>
</table>