@model Cf.ViewModels.IncomingLoanVwViewModel
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>
    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.FilterOptions</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i id="filter" class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div id="cardOptions" class="card-body collapse in">
                    <div class="card-block">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.LoanProductEmployeeId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.LoanProductEmployeeId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.LoanProductEmployeeId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.LoanProductEmployeeId, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.LoanProductEmployeeFullNameContains, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.LoanProductEmployeeFullNameContains, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.LoanProductEmployeeFullNameContains)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.LoanProductEmployeeFullNameContains, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.LoanProductProductTypeId, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.LoanProductProductTypeId, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.LoanProductProductTypeId)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
                                            @Html.DropDownListFor(model => model.Filter.LoanProductProductTypeId, (SelectList)@ViewBag.LoanProductProductTypeList, (string)@ViewBag.Select, htmlAttributes: new { @class = "form-control" })
								            @*@Html.EditorFor(model => model.Filter.LoanProductProductTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.LoanLoanDecisionNumber, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.LoanLoanDecisionNumber, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.LoanLoanDecisionNumber)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.LoanLoanDecisionNumber, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Filter.LoanLoanDecisionYear, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Filter.LoanLoanDecisionYear, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Filter.LoanLoanDecisionYear)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								            @Html.EditorFor(model => model.Filter.LoanLoanDecisionYear, new { htmlAttributes = new { @class = "form-control" } })
								        </div>
									</div>
								</div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary mr-1">
                                    @ViewBag.Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
