
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-right">
                            @Html.ActionLink((string)ViewBag.ReportLoansBetweenTwoDates, "ReportLoansBetweenTwoDates")
                        </div>
                        <div class="media-left media-middle">
                            <i class="icon-pencil cyan font-large-2 float-xs-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-right">
                            @Html.ActionLink((string)ViewBag.ReportPaymentsBetweenTwoDates, "ReportPaymentsBetweenTwoDates")
                        </div>
                        <div class="media-left media-middle">
                            <i class="icon-pencil cyan font-large-2 float-xs-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-right">
                            @Html.ActionLink((string)ViewBag.ReportSubscriptionsBetweenTwoDates, "ReportSubscriptionsBetweenTwoDates")
                        </div>
                        <div class="media-left media-middle">
                            <i class="icon-pencil cyan font-large-2 float-xs-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-right">
                            @Html.ActionLink((string)ViewBag.ReportBalance, "ReportBalance")
                        </div>
                        <div class="media-left media-middle">
                            <i class="icon-pencil cyan font-large-2 float-xs-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-right">
                            @Html.ActionLink((string)ViewBag.ReportLoansVw, "ReportLoansVw")
                        </div>
                        <div class="media-left media-middle">
                            <i class="icon-pencil cyan font-large-2 float-xs-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body text-xs-right">
                            @Html.ActionLink((string)ViewBag.ReportEmployeeLoansBetweenTwoDates, "ReportEmployeeLoansBetweenTwoDates")
                        </div>
                        <div class="media-left media-middle">
                            <i class="icon-pencil cyan font-large-2 float-xs-left"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

