@model Cf.ViewModels.LoanDecisionVwViewModel
	<div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Action @ViewBag.ModuleName</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form class="form">
                            <div class="form-body">
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Id, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Id, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Id)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtId" class="form-control" value="@Html.DisplayFor(model => model.Instance.Id)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Number, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Number, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Number)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtNumber" class="form-control" value="@Html.DisplayFor(model => model.Instance.Number)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Year, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Year, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Year)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtYear" class="form-control" value="@Html.DisplayFor(model => model.Instance.Year)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Date, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Date, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Date)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtDate" class="form-control" value="@Html.DisplayFor(model => model.Instance.Date)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.DeductionStartDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.DeductionStartDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.DeductionStartDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtDeductionStartDate" class="form-control" value="@Html.DisplayFor(model => model.Instance.DeductionStartDate)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.CersNumber, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.CersNumber, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.CersNumber)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtCersNumber" class="form-control" value="@Html.DisplayFor(model => model.Instance.CersNumber)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.CersDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.CersDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.CersDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtCersDate" class="form-control" value="@Html.DisplayFor(model => model.Instance.CersDate)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Notes, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Notes, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Notes)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtNotes" class="form-control" value="@Html.DisplayFor(model => model.Instance.Notes)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.LoanDecisionTypeName, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.LoanDecisionTypeName, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.LoanDecisionTypeName)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtLoanDecisionTypeName" class="form-control" value="@Html.DisplayFor(model => model.Instance.LoanDecisionTypeName)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.PaymentNumber, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.PaymentNumber, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.PaymentNumber)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtPaymentNumber" class="form-control" value="@Html.DisplayFor(model => model.Instance.PaymentNumber)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.PaymentDate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.PaymentDate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.PaymentDate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtPaymentDate" class="form-control" value="@Html.DisplayFor(model => model.Instance.PaymentDate)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.IsPaidFromSalary, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.IsPaidFromSalary, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.IsPaidFromSalary)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 @Html.CheckBoxFor(model => model.Instance.IsPaidFromSalary.Value, new { @disabled = "disabled" ,@class="form-control" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.Reason, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.Reason, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.Reason)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtReason" class="form-control" value="@Html.DisplayFor(model => model.Instance.Reason)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.AdditionalClause, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.AdditionalClause, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.AdditionalClause)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtAdditionalClause" class="form-control" value="@Html.DisplayFor(model => model.Instance.AdditionalClause)" disabled />
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-12">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Instance.AdditionalIntroduction, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Instance.AdditionalIntroduction, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Instance.AdditionalIntroduction)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                 <input type="text" id="txtAdditionalIntroduction" class="form-control" value="@Html.DisplayFor(model => model.Instance.AdditionalIntroduction)" disabled />
								        </div>
									</div>
								</div>
							</div>

                            <div class="form-actions">
                                <button type="button" class="btn btn-primary mr-1">
								        @Html.ActionLink((string)@ViewBag.Update, "Edit", new {
																	id = Model.Instance.Id })
                                </button>
								<button type="button" class="btn btn-warning">
							        @Html.ActionLink((string)@ViewBag.Back, "Index")
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.LoanVwTitle @if(Model.LoanVwViewModel.List.Count == 0) {<span class="tag tag-default">@Model.LoanVwViewModel.List.Count</span>} else {<span class="tag tag-danger">@Model.LoanVwViewModel.List.Count</span> }</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-plus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse out">
                <div class="card-block card-dashboard">
                    <button class="btn btn-success" type="button">
                        @Html.ActionLink((string)ViewBag.Insert + " " + (string)ViewBag.LoanVwTitle, "Create", "Loan")
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead class="bg-primary table-head-color">
					        <tr>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductId)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductEmployeeId)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductEmployeeFullName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductEmployeeDepartmentSalaryWorkPlaceName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductProductTypeName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductProductTypeRate)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.ProductAmount)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.LoanVwViewModel.Instance.LoanStatusName)
					            </th>
           
					            <th></th>
					        </tr>
                        </thead>
                        <tbody>
        @foreach (var item in Model.LoanVwViewModel.List)
        {
				            <tr>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductId)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductEmployeeId)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductEmployeeFullName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductEmployeeDepartmentSalaryWorkPlaceName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductProductTypeName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductProductTypeRate)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProductAmount)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanStatusName)
                				</td>
				                <td>
									<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-info">
					                    	@Html.ActionLink((string)ViewBag.Details, "Details", "Loan",
                        					new
											{
												product = item.ProductId
                        					}, null)
                                        </button>
                                        <button type="button" class="btn btn-warning">
					                    	@Html.ActionLink((string)ViewBag.Update, "Edit", "Loan",
                        					new
                        					{
												product = item.ProductId
                        					}, null)
                                        </button>
                                        <button type="button" class="btn btn-danger deleteLink" data-original-title="@ViewBag.Delete" id="delete" data-id="@item.ProductId" data-url="@Url.Action("Delete", "Loan")">@ViewBag.Delete</button>
                                    </div>
                                </td>
                            </tr>
				        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.OutgoingLoanVwTitle @if(Model.OutgoingLoanVwViewModel.List.Count == 0) {<span class="tag tag-default">@Model.OutgoingLoanVwViewModel.List.Count</span>} else {<span class="tag tag-danger">@Model.OutgoingLoanVwViewModel.List.Count</span> }</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-plus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse out">
                <div class="card-block card-dashboard">
                    <button class="btn btn-success" type="button">
                        @Html.ActionLink((string)ViewBag.Insert + " " + (string)ViewBag.OutgoingLoanVwTitle, "Create", "OutgoingLoan")
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead class="bg-primary table-head-color">
					        <tr>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanProductId)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanProductEmployeeId)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanProductEmployeeFullName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanProductEmployeeDepartmentSalaryWorkPlaceName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanProductProductTypeName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanProductAmount)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.LoanLoanType)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.MainWorkPlaceName)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.ApprovedAmount)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.NetAmount)
					            </th>
					            <th>
					                @Html.DisplayNameFor(model => model.OutgoingLoanVwViewModel.Instance.ProfitAmount)
					            </th>
           
					            <th></th>
					        </tr>
                        </thead>
                        <tbody>
        @foreach (var item in Model.OutgoingLoanVwViewModel.List)
        {
				            <tr>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanProductId)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanProductEmployeeId)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanProductEmployeeFullName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanProductEmployeeDepartmentSalaryWorkPlaceName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanProductProductTypeName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanProductAmount)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.LoanLoanType)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.MainWorkPlaceName)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ApprovedAmount)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.NetAmount)
                				</td>
                				<td>
                    				 @Html.DisplayFor(modelItem => item.ProfitAmount)
                				</td>
				                <td>
									<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
										<button type="button" class="btn btn-info">
					                    	@Html.ActionLink((string)ViewBag.Details, "Details", "OutgoingLoan",
                        					new
											{
												loan = item.LoanProductId
                        					}, null)
                                        </button>
                                        <button type="button" class="btn btn-warning">
					                    	@Html.ActionLink((string)ViewBag.Update, "Edit", "OutgoingLoan",
                        					new
                        					{
												loan = item.LoanProductId
                        					}, null)
                                        </button>
                                        <button type="button" class="btn btn-danger deleteLink" data-original-title="@ViewBag.Delete" id="delete" data-id="@item.LoanProductId" data-url="@Url.Action("Delete", "OutgoingLoan")">@ViewBag.Delete</button>
                                    </div>
                                </td>
                            </tr>
				        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@ViewBag.No</span></button>
                <h4 class="modal-title" id="deleteModalLabel">@ViewBag.Delete @ViewBag.ModuleName</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $("#deleteModal").modal("hide");  // initially hides the modal pop-up until needed

        $(".deleteLink").on("click", function () {
		var url=$(this).data("url");
            $.get(url, { id: $(this).data("id") }, function (data) {
                $("#deleteModalBody").html(data);

                $("#deleteModal").modal("show");  // shows the modal pop-up now that we have our partial view
            });

        });
    });
</script>
	<script>
	$(document).ready(function () {
		$('table').each(function(e){
		
				var table = $(this).context;
                var len = table.rows.length;
                if (len == 1) 
                {             
					table = table.tBodies[0];
                    // Create an empty <tr> element
                    var row = table.insertRow(0);

                    //// Insert new cell
                    var cell1 = row.insertCell(0);
                    cell1.colSpan = 12; cell1.align = "center";
                    cell1.innerText = '@ViewBag.NoRecords';                    
                }
                 
            });
	    });
	</script>
}
