@model Cf.ViewModels.LoanRequestVwViewModel
@using Cf.Data;
@using Cf.Services;


<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    DashBoard
                </h4>

                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in ">
                <div class="card-block card-dashboard">
                    <div class="row">
                        <div class="col-md-4">
                            @*<div class="col-md-4 col-sm-6 col-xs-12 fonticon-container">
                                    <div class="fonticon-wrap">
                                        <a href="/ManageLoanRequests/ManageNewRequests">
                                            <i class="icon-glass3" style="font-size:2.28rem"></i>
                                        </a>
                                    </div>
                                </div>
                            *@
                            <button class="btn btn-success" type="button">
                                @Html.ActionLink("New Requests", "ManageNewRequests")
                                <i class="icon-th-list"></i>
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-light-blue" type="button">
                                @Html.ActionLink("Valid Requests", "ManageValidRequests")
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-green" type="button">
                                @Html.ActionLink("Approved Requests", "ManageApprovedRequests")
                            </button>
                        </div>
                        
                        </div>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-orange" type="button">
                                @Html.ActionLink("Exceptional Request", "ManageExceptionalRequest")
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger" type="button">
                                @Html.ActionLink("Rejected Request", "ManageRejectedRequest")
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(function () {


            $(".details").click(function () {
                var request_id = $(this).data("id");
                $.ajax({
                    type: "POST",
                    url: "/ManageLoanRequests/Details",
                    data: '{id: "' + request_id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        //$('#dialog').html(response);
                        //$('#dialog').dialog('open');
                        $("#detailsModalBody").html(response);

                        $("#detailsModal").modal("show");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            //$(".validate").click(function () {
            //    var request_id = $(this).data("id");
            //    $.ajax({
            //        type: "POST",
            //        url: "/ManageLoanRequests/Details",
            //        data: '{id: "' + request_id + '" }',
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "html",
            //        success: function (response) {
            //            //$('#dialog').html(response);
            //            //$('#dialog').dialog('open');
            //            $("#detailsModalBody").html(response);

            //            $("#detailsModal").modal("show");
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //});


        });
    </script>
    @*<script>
            $(document).ready(function () {

                $('table').each(function (e) {
                    var len = $(this).length;
                    if (len == 1) {
                        var table = $(this).context;

                        // Create an empty <tr> element and add it to the 1st position of the table:
                        var row = table.insertRow(1);

                        //// Insert new cell
                        var cell1 = row.insertCell(0);
                        cell1.colSpan = 12;
                        cell1.innerText = "لا يوجد نتائج";
                        cell1.align = "center";
                    }

                });

            });
        </script>*@
}