@model Cf.ViewModels.LoanRequestVwViewModel
@using Cf.Data;
@using Cf.Services;


<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                
                <h4 class="card-title">
                    @ViewBag.ManageLoanRequests
                </h4>

                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in ">
                <div class="card-block card-dashboard">

                   
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="blue">@ViewBag.NewLoanRequestsCount</h3>
                                                @Html.ActionLink((string)ViewBag.NewLoanRequests, "ManageNewRequests")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-ios-list blue font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="teal">@ViewBag.ValidLoanRequestsCount</h3>
                                               @Html.ActionLink((string)ViewBag.ValidLoanRequests, "ManageValidRequests")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-user1 teal font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="green">@ViewBag.ApprovedLoanRequestsCount</h3>
                                                @Html.ActionLink((string)ViewBag.ApprovedLoanRequests, "ManageApprovedRequests")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-diagram green font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="red">@ViewBag.ExceptionalLoanRequestsCount</h3>
                                                @Html.ActionLink((string)ViewBag.RejectedLoanRequests, "ManageRejectedRequest")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-ios-close-outline red font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="media">
                                            <div class="media-body text-xs-left">
                                                <h3 class="cyan">@ViewBag.RejectedLoanRequestsCount</h3>
                                                @Html.ActionLink((string)ViewBag.ExceptionalLoanRequests, "ManageExceptionalRequest")
                                            </div>
                                            <div class="media-right media-middle">
                                                <i class="icon-ios-help-outline cyan font-large-2 float-xs-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    @*<div class="row">
                        <div class="col-md-4">
                           <button class="btn btn-success" type="button">
                                <span><i class="icon-th-list"></i></span> <br />
                               
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-light-blue" type="button">
                                <span><i class=""></i></span> <br />
                                @Html.ActionLink("Valid Requests", "ManageValidRequests")
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-green" type="button">
                                <span><i class="icon-th-list"></i></span> <br />
                                @Html.ActionLink("Approved Requests", "ManageApprovedRequests")
                            </button>
                        </div>
                    </div>
                   <br />
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-orange" type="button">
                                <span><i class="icon-th-list"></i></span> <br />
                                @Html.ActionLink("Exceptional Request", "ManageExceptionalRequest")
                            </button>
                        </div>
                        <div class="col-md-5">
                            <button class="btn btn-danger" type="button">
                                <span><i class="icon-th-list"></i></span> <br />
                                @Html.ActionLink("Rejected Request", "ManageRejectedRequest")
                            </button>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>*@

                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(function () {


            $(".details").click(function () {
                var request_id = $(this).data("id");
                $.ajax({
                    type: "POST",
                    url: "/ManageLoanRequests/Details",
                    data: '{id: "' + request_id + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        //$('#dialog').html(response);
                        //$('#dialog').dialog('open');
                        $("#detailsModalBody").html(response);

                        $("#detailsModal").modal("show");
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            //$(".validate").click(function () {
            //    var request_id = $(this).data("id");
            //    $.ajax({
            //        type: "POST",
            //        url: "/ManageLoanRequests/Details",
            //        data: '{id: "' + request_id + '" }',
            //        contentType: "application/json; charset=utf-8",
            //        dataType: "html",
            //        success: function (response) {
            //            //$('#dialog').html(response);
            //            //$('#dialog').dialog('open');
            //            $("#detailsModalBody").html(response);

            //            $("#detailsModal").modal("show");
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //});


        });
    </script>
    @*<script>
            $(document).ready(function () {

                $('table').each(function (e) {
                    var len = $(this).length;
                    if (len == 1) {
                        var table = $(this).context;

                        // Create an empty <tr> element and add it to the 1st position of the table:
                        var row = table.insertRow(1);

                        //// Insert new cell
                        var cell1 = row.insertCell(0);
                        cell1.colSpan = 12;
                        cell1.innerText = "لا يوجد نتائج";
                        cell1.align = "center";
                    }

                });

            });
        </script>*@
}