@model Cf.Data.ExternalGrant
    <h1>@ViewBag.Action @ViewBag.ModuleName</h1>
@{
    Layout = null;
}

<h4>@ViewBag.ConfirmDelete</h4>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ViewBag.Yes" class="btn btn-danger" /> 
            <input type="button" onclick="location.href='@Url.Action("Index")'" value="@ViewBag.No" class="btn btn-default"  />
        </div>
    }
</div>
