@model Cf.Data.ProductType
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewBag.Action @ViewBag.ModuleName</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form class="form">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-body">
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Name, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Name)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.Rate, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.Rate)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.GuarantorsCount, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.GuarantorsCount, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.GuarantorsCount)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.GuarantorsCount, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.GuarantorsCount, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.AccountNumber, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.AccountNumber)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.PrintLabel, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.PrintLabel, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.PrintLabel)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.PrintLabel, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.PrintLabel, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.ProfitStrategy, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.ProfitStrategy, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.ProfitStrategy)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.DropDownList("ProfitStrategy", (SelectList)@ViewBag.ProfitStrategyList, htmlAttributes: new { @class = "form-control" })
								                @Html.ValidationMessageFor(model => model.ProfitStrategy, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                                <div class="row">
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.PaymentGroup, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.PaymentGroup, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.PaymentGroup)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.DropDownList("PaymentGroup", (SelectList)@ViewBag.PaymentGroupList, htmlAttributes: new { @class = "form-control" })
								                @Html.ValidationMessageFor(model => model.PaymentGroup, "", new { @class = "text-danger" })
								        </div>
									</div>
									<div class="col-md-4">
								        <div class="form-group">
								            @*@Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })*@
								            @Html.LabelFor(model => model.IsActive, new Dictionary<string, Object>
								                { { "class", "control-label" },
								                  {"title", Html.ToolTipMessageFor(model => model.IsActive)},
								                  {"data-toggle", "tooltip"},
								                  {"data-placement", "bottom"}
								                })
								                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
								                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
								        </div>
									</div>
								</div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary mr-1">
                                    @ViewBag.Save
                                </button>
                                <button type="button" class="btn btn-warning">
                                    @Html.ActionLink((string)ViewBag.Back, "Index")
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
		$(function () {
            $.validator.addMethod('date',
            function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var ok = true;
                try {
                    $.datepicker.parseDate('dd/mm/yy', value);
                }
                catch (err) {
                    ok = false;
                }
                return ok;
            });
            $(".IsDate").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true });
        });
    </script>
}
